# Eat Safe, Love

## Notebook Set Up

In [52]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [53]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [54]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [55]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [56]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [57]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':20}
results = list(establishments.find(query))

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(results[0])

41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('647e8ee8321abac418cc9d83'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [58]:
# Convert the result to a Pandas DataFrame
results_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(results_df.index))

# Display the first 10 rows of the DataFrame
results_df.head(10)

41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647e8ee8321abac418cc9d83,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647e8ee8321abac418cca106,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647e8ee8321abac418cca40f,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647e8ee8321abac418cca600,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647e8ee8321abac418cca60c,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647e8ee8321abac418ccafac,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647e8ee8321abac418ccb1ce,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647e8ee9321abac418ccc6f7,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647e8ee9321abac418cccb3c,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647e8ee9321abac418ccd34e,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [59]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
#query = {'LocalAuthorityName':'London', 'RatingValue': {'$gte': 4}}
query = {'LocalAuthorityName': {'$regex':'London'}}
results = list(establishments.find(query))

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(results[0])

37
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('647e8ee8321abac418ccb79f'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [60]:
# Convert the result to a Pandas DataFrame
results_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(results_df.index))

# Display the first 10 rows of the DataFrame
results_df.head(10)

37

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647e8ee8321abac418ccb79f,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647e8ee8321abac418ccbac6,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647e8ee9321abac418ccc613,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647e8ee9321abac418cccc21,1523645,0,PI/000038853,Gourmet Kitchen,Takeaway/sandwich shop,7844,1 London Gateway,London Gateway Drive Stanford-Le-Hope,,...,0.459637,51.510066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647e8ee9321abac418ccd416,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647e8ee9321abac418ccd417,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647e8ee9321abac418ccdb1c,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647e8ee9321abac418ccfc25,1252616,0,PI/000035653,Froottree,Other catering premises,7841,Tereza Joanne King George V Lock,Woolwich Manor Way London,Charlton,...,0.069325,51.501110,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647e8ee9321abac418ccfc2a,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647e8ee9321abac418ccfff1,902473,0,PI/000029852,Pret A Manger,Takeaway/sandwich shop,7844,Retail Unit 2 Gate 3,West Pier London City Airport,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [61]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {'RatingValue':5,
         'geocode.latitude': {'$gte': latitude-degree_search, '$lte': latitude+degree_search},
         'geocode.longitude': {'$gte': longitude-degree_search, '$lte': longitude+degree_search}}
fields = {'BusinessName':1, 'geocode.latitude':1, 'geocode.longitude':1, 'RatingValue':1, 'scores.Hygiene':1}
sort =  [('scores.Hygiene', 1)]


results = list(establishments.find(query, fields).sort(sort))
# Print the results
print(len(results))
pprint(results)

87
[{'BusinessName': 'Iceland',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf5b6'),
  'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf5c7'),
  'geocode': {'latitude': 51.4875335693359, 'longitude': 0.0925370007753372},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Volunteer',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf5e6'),
  'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Plumstead Manor Nursery',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf5fc'),
  'geocode': {'latitude': 51.481517791748, 'longitude': 0.0859939977526665},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Atlantic Fish Bar',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf5fe'),
  'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Lumbini Grocery Ltd T/A Al-Iman',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf601'),
  'geocode': {'latitude': 51.4871632, 'longitude': 0.0916256},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Tesco',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf61f'),
  'geocode': {'latitude': 51.4871406555176, 'longitude': 0.0912820026278496},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Greggs',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf620'),
  'geocode': {'latitude': 51.4871406555176, 'longitude': 0.0912820026278496},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Dosa & Sambal Express',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf646'),
  'geocode': {'latitude': 51.4877576, 'longitude': 0.091566},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Abbi Wines',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf649'),
  'geocode': {'latitude': 51.4871401, 'longitude': 0.0908895},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Dilkush Tandoori',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf684'),
  'geocode': {'latitude': 51.4878941, 'longitude': 0.0909672},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "Dadoo's Foodstore",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6a2'),
  'geocode': {'latitude': 51.4876894, 'longitude': 0.0905233},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'High Street News & Wine',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6a8'),
  'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Old Mill',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6b5'),
  'geocode': {'latitude': 51.4817109, 'longitude': 0.0840959},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Belfry',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6cb'),
  'geocode': {'latitude': 51.487928, 'longitude': 0.0900757},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Chick Chicken',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6e4'),
  'geocode': {'latitude': 51.4880687, 'longitude': 0.0897508},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Conway Primary School',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6e9'),
  'geocode': {'latitude': 51.487865447998, 'longitude': 0.0894860029220581},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Best Halal Meat Limited',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6f9'),
  'geocode': {'latitude': 51.4881611, 'longitude': 0.089611},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Boba & Co UK',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf715'),
  'geocode': {'latitude': 51.4881627, 'longitude': 0.0895246},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Poundland',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf727'),
  'geocode': {'latitude': 51.4884195010951, 'longitude': 0.0893575026992294},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'SD News & Mini Market',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf73b'),
  'geocode': {'latitude': 51.4827461242676, 'longitude': 0.0831020027399063},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'KFC',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf747'),
  'geocode': {'latitude': 51.4884997, 'longitude': 0.0887766},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Co-op Food',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf74d'),
  'geocode': {'latitude': 51.4806876203642, 'longitude': 0.0808583091748281},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Ambala & Karahi Ltd',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf75c'),
  'geocode': {'latitude': 51.4885934, 'longitude': 0.0885648},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Los carnales mexicanos',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf795'),
  'geocode': {'latitude': 51.4810979, 'longitude': 0.0802144},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'East Plumstead Pre School',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf797'),
  'geocode': {'latitude': 51.4845542907715, 'longitude': 0.0836590006947517},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Plumstead Common Petrol Station',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7aa'),
  'geocode': {'latitude': 51.4806732, 'longitude': 0.0793165},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'My Home (Plumstead)',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7b9'),
  'geocode': {'latitude': 51.4860247, 'longitude': 0.0843422},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Deescon Freight',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7c2'),
  'geocode': {'latitude': 51.4890121, 'longitude': 0.0868772},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'St Patricks Social Club',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7c3'),
  'geocode': {'latitude': 51.487438, 'longitude': 0.0852709},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Star INN',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7ce'),
  'geocode': {'latitude': 51.4808120727539, 'longitude': 0.0785060003399849},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Bear Hugs Day Nursery',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7d8'),
  'geocode': {'latitude': 51.4838756, 'longitude': 0.0812914},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Roundhouse Food and Wine',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7da'),
  'geocode': {'latitude': 51.4847465, 'longitude': 0.0820677},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'U&A Foods Ltd',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7e6'),
  'geocode': {'latitude': 51.4892023, 'longitude': 0.086187},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "St. Patrick's School",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7e9'),
  'geocode': {'latitude': 51.4884185791016, 'longitude': 0.0853480026125908},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Kings Cafe',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7ee'),
  'geocode': {'latitude': 51.4892216, 'longitude': 0.0861158},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Peace Manor Residential Care',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7f3'),
  'geocode': {'latitude': 51.484673, 'longitude': 0.0814574},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Danfe Restaurant',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf815'),
  'geocode': {'latitude': 51.4893348, 'longitude': 0.0853618},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Eggfree Cake Box (Plumstead)',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf816'),
  'geocode': {'latitude': 51.4896464707035, 'longitude': 0.0857344851907352},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "McDonald's",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf852'),
  'geocode': {'latitude': 51.4908567, 'longitude': 0.0853967},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Jhas Catering Services',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf85c'),
  'geocode': {'latitude': 51.4900815, 'longitude': 0.0842824},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Wilson & Bay Coffee Club',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf85d'),
  'geocode': {'latitude': 51.4897501, 'longitude': 0.0839053},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'D J Off Licence',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf863'),
  'geocode': {'latitude': 51.4862246, 'longitude': 0.0801741},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Suya Academy Ltd',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf869'),
  'geocode': {'latitude': 51.4901495, 'longitude': 0.0839974},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Waterside Primary School',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf86e'),
  'geocode': {'latitude': 51.4873504638672, 'longitude': 0.0810069963335991},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Om Stop & Go',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf86f'),
  'geocode': {'latitude': 51.4835927, 'longitude': 0.0771598},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Rose Inn',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf885'),
  'geocode': {'latitude': 51.486075, 'longitude': 0.0789717},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Greenwich Islamic Centre',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf891'),
  'geocode': {'latitude': 51.4903258, 'longitude': 0.0824813},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Bal Krishna Nursery',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf895'),
  'geocode': {'latitude': 51.4824256896973, 'longitude': 0.0743729993700981},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "St Margaret's C of E Primary School",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf896'),
  'geocode': {'latitude': 51.4824142456055, 'longitude': 0.074412003159523},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Quaggy at Margaret Bondfield',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf8a8'),
  'geocode': {'latitude': 51.4863967895508, 'longitude': 0.0776320025324821},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Fresh Chances',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf8a9'),
  'geocode': {'latitude': 51.4863955, 'longitude': 0.0776292},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Tesco',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf8ad'),
  'geocode': {'latitude': 51.4989512, 'longitude': 0.0902181},
  'scores': {'Hygiene': 0}},
 {'BusinessName': "Domino's Pizza",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf8b8'),
  'geocode': {'latitude': 51.4987492, 'longitude': 0.0895991},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Ashgreen House',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf903'),
  'geocode': {'latitude': 51.4871520996094, 'longitude': 0.075984999537468},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Heronsgate Primary School Thamesmead Campus',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf90a'),
  'geocode': {'latitude': 51.4940567016602, 'longitude': 0.0827509984374046},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Breakfast Club',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf917'),
  'geocode': {'latitude': 51.4950485229492, 'longitude': 0.0835620015859604},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'BR6',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf91e'),
  'geocode': {'latitude': 51.4903331, 'longitude': 0.0787421},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Catering & Hospitality Education Dep',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf925'),
  'geocode': {'latitude': 51.4903331, 'longitude': 0.0787421},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'The Real Deal',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf974'),
  'geocode': {'latitude': 51.4978398, 'longitude': 0.0844204},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Borna',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf997'),
  'geocode': {'latitude': 51.4918377, 'longitude': 0.0774802},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Blossom Place Olive Services',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf9af'),
  'geocode': {'latitude': 51.4942476, 'longitude': 0.0795886},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Menagerie Cafe',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf9d8'),
  'geocode': {'latitude': 51.4914321899414, 'longitude': 0.075545996427536},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Innova Nutraceutics Ltd',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf9e3'),
  'geocode': {'latitude': 51.4935863, 'longitude': 0.0770593},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Foodelo',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccfa14'),
  'geocode': {'latitude': 51.4923133850098, 'longitude': 0.0744580030441284},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Brighter Futures Project',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccfa27'),
  'geocode': {'latitude': 51.4922421, 'longitude': 0.0739989},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf58f'),
  'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Fineway Cash & Carry',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf66f'),
  'geocode': {'latitude': 51.4876089, 'longitude': 0.0909382},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Lucky Food & Wine',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf683'),
  'geocode': {'latitude': 51.4878934, 'longitude': 0.0910104},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Premier Express',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf69c'),
  'geocode': {'latitude': 51.4877234, 'longitude': 0.0904552},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Everest Stores Ltd',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6ad'),
  'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'The Plumstead Pantry',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf6d3'),
  'geocode': {'latitude': 51.4817727, 'longitude': 0.083745},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Spice Island',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf72d'),
  'geocode': {'latitude': 51.4804420471191, 'longitude': 0.0812250003218651},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Apna Grill',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7ab'),
  'geocode': {'latitude': 51.4870876, 'longitude': 0.0857591},
  'scores': {'Hygiene': 5}},
 {'BusinessName': "Flames Kebab Ltd trading as Morley's",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7ac'),
  'geocode': {'latitude': 51.4810714, 'longitude': 0.0796803},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Conway Road Supermarket',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7af'),
  'geocode': {'latitude': 51.4873374, 'longitude': 0.0858713},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'The Plum Tree Beer Shop',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7c1'),
  'geocode': {'latitude': 51.4808287, 'longitude': 0.078661},
  'scores': {'Hygiene': 5}},
 {'BusinessName': "Chef's House",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7cd'),
  'geocode': {'latitude': 51.4808120727539, 'longitude': 0.0785060003399849},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Cafe Deluxe',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf7fb'),
  'geocode': {'latitude': 51.4891019, 'longitude': 0.0857646},
  'scores': {'Hygiene': 5}},
 {'BusinessName': "Malai Restaurant/Ghandi's/Sweet Sensationz/JusBoba",
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf803'),
  'geocode': {'latitude': 51.489315, 'longitude': 0.0859184},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Mr Uncles Kebab',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf80b'),
  'geocode': {'latitude': 51.4893255, 'longitude': 0.0858325},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Plumstead Radical Club',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf825'),
  'geocode': {'latitude': 51.4893112182617, 'longitude': 0.084697000682354},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Nisa Local',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf835'),
  'geocode': {'latitude': 51.4861922, 'longitude': 0.0809311},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Brew Station',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf83d'),
  'geocode': {'latitude': 51.4899426, 'longitude': 0.0846755},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'GMT Kitchen and Cafe',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf91d'),
  'geocode': {'latitude': 51.4903331, 'longitude': 0.0787421},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'Heronsgate Primary School Royal Arsenal Campus',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf9d4'),
  'geocode': {'latitude': 51.4898490905762, 'longitude': 0.074074998497963},
  'scores': {'Hygiene': 5}},
 {'BusinessName': 'PLOT Roasting',
  'RatingValue': 5,
  '_id': ObjectId('647e8ee9321abac418ccf9e4'),
  'geocode': {'latitude': 51.4935863, 'longitude': 0.0770593},
  'scores': {'Hygiene': 5}}]

In [62]:
# Convert result to Pandas DataFrame
results_df = pd.json_normalize(results)
results_df.head()

,_id,BusinessName,RatingValue,scores.Hygiene,geocode.longitude,geocode.latitude
0,647e8ee9321abac418ccf5b6,Iceland,5,0,0.092420,51.487148
1,647e8ee9321abac418ccf5c7,Howe and Co Fish and Chips - Van 17,5,0,0.092537,51.487534
2,647e8ee9321abac418ccf5e6,Volunteer,5,0,0.092080,51.487344
3,647e8ee9321abac418ccf5fc,Plumstead Manor Nursery,5,0,0.085994,51.481518
4,647e8ee9321abac418ccf5fe,Atlantic Fish Bar,5,0,0.091216,51.486730

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [70]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene':0}}
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count':{'$sum':1}}}
sort_query = {'$sort': {'count':-1}}
pipeline = [match_query, group_query, sort_query]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f'Number of documents: {len(results)}')
# Print the first 10 results
pprint(results[0:10])

Number of documents: 55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [71]:
# Convert the result to a Pandas DataFrame
results_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(results_df.index))
# Display the first 10 rows of the DataFrame
results_df.head(10)

55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542